---
import {
  BlogGallery,
  NewerOlderPagination,
  PaginationHeader,
  Section,
} from '@/components';
import { contentfulClient } from '@/lib/contentful';
import { CTA } from '@/partials/CTA';
import Base from '@/templates/Base.astro';
import type { BlogPostSkeleton, PostProps } from '@/types/BlogPost';
import type { FrontmatterPage } from '@/types/IFrontMatter';
import { AppConfig } from '@/utils/AppConfig';

type GetStaticPaths = {
  paginate: any;
}; // Overrides `GetStaticPathsOptions` types from Astro

export async function getStaticPaths({ paginate }: GetStaticPaths) {
  const entries = await contentfulClient.getEntries<BlogPostSkeleton>({});
  const posts = entries.items.map((item) => {
    const { headline, date, summary, slug, postImage } = item.fields;
    return {
      headline,
      slug,
      summary,
      date: new Date(date).toLocaleDateString('en-US', {
        month: 'short',
        day: 'numeric',
        year: 'numeric',
      }),
      postImage,
    };
  });
  // Return a paginated collection of paths for all posts
  return paginate(posts, { pageSize: 6 });
}

interface Props {
  page: FrontmatterPage;
}

const { page } = Astro.props as Props;
const titleSuffix = ` - ${AppConfig.site_name}`;
const titleBase = `Blog`;
const title = titleBase + titleSuffix;
const description =
  'Pagination built with Astro styled with Tailwind CSS.';
const { data } = page;
---

<Base head={{ title, description }}>
  <Section>
    <PaginationHeader
      title='My Blog'
      description=''
    />
  </Section>

  <Section>
    {/*eslint-disable-next-line prettier/prettier*/}
    <BlogGallery postList={data as unknown as PostProps[]} />
  </Section>

  <Section>
    <NewerOlderPagination page={page} />
  </Section>

  <CTA />
</Base>
